$theme-colors: (
  "primary": #0d1b2a,
  "primary-light": #415a77,
  "secondary": #778da9,
  "dark": #222,
  "light": #f8fafb,
  "success": #1f7909,
  "warning": #d37909,
  "danger": #dc3003,
);
@import "~bootstrap/scss/bootstrap.scss";

body,
html,
#root {
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: map-get($theme-colors, "secondary");
}
